<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lab1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
</head>
<body background="Muyuna_lodge_Iquitos_1.png">
<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="#">Explorar</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Mis Vuelos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">                                         Iniciar Session</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Vuelos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Paquetes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hoteles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Autos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Seguros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Upgrade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Centro de ayuda</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="height: 300px">
</div>
<div class="margin-right-5">
  <h1 style="color:#FFFFFF">Iquitos</h1>
  <h5 style="color:#FFFFFF">Descubra maravillas ocultas y destinos inspiradores en Iquitos</h5>
  <button type="button" class="btn btn-light">Comprar</button>
</div>

</body>
</html>